<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div style="text-align:center;">
    <img src="{{ url_for('static', filename='about.png') }}" 
         alt="About Image" 
         style="max-width:80%; height:auto;">
</div>

<p style="text-align:center;">
    Safe and simple school carpooling for parents
</p>

<div class="bottom-nav">
  <a href="/dashboard">🏠</a>
  <a href="/rides">🚗</a>
  <a href="/my-rides">📋</a>
  <a href="/logout">🚪</a>
</div>

</body>
</html>